<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Flash Card Shark!</title>
  <link rel="stylesheet" type="text/css" href="HomeScreenCustomSheet.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#0087ad" />
  <meta name="msapplication-TileColor" content="#2d89ef" />
  <meta name="theme-color" content="#000000" />
  <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
  <script type="application/javascript" src="home.js"></script>
</head>

<p id="bttw" hidden="true">Brave the Treacherous Waters...</p>

<div class="centerLoginScreen">
  <form method="POST">
    <p>username: <input type="text" name="username" /></p>
    <p>password: <input type="password" name="password" /></p>
    <input type="submit" value="submit" id="loginbutton" class="w3-button w3-indigo" />
  </form>

  <p>
    <a href="registrationPage.jsp"><button id="registerbutton" class="w3-button w3-indigo w3-padding-10">
        Register a new account
      </button></a>
  </p>

  <!-- <div>
                        <c:if test="${not empty requestScope.error}">
                            <p style="color:red; font-size: 15px;">Invalid Username or password</p>
                        </c:if>
                    </div> -->
</div>

<p id="lod" hidden="true" class="">...then Learn or Die.</p>

</html>