.centerRegistrationScreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Yep! */
    display: inline-block;
    text-align: center;
    background: transparent;
}

html {
    background-image: linear-gradient(#ccccff,#1a1aff);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
}

#loginfield {
    font-size: 15px;
    font-family: cursive;
}

#submitbutton {
    background-color:blueviolet;
    font-size: large;
    border: none;
    border-radius: 8px;
    color: white;
    cursor:pointer;
    transition-duration: .3s;
    margin:auto;
    height: 25px;
    width:300px;
}

#submitbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}

#wa {
    text-align: center;
    font-size: 50px;
    color: blueviolet;
    font-weight: bold;
    text-shadow: 1px 1px 0 white,
                 3px 3px 0 black,
                 5px 5px 0 black;
    font-family: fantasy;
}

input[type="text"], input[type="password"] {
    text-align: center;
    position: relative;
    width: 300px;
    margin: auto;
    height: 20px;
}
