.searchbar{
    margin-bottom: 10px;
}

.smallsetitem{
    height: 30px;
    background-color: darkorchid;
    box-shadow: 2px 2px black;
    border-radius: 2px;
    width: 100px;
    color: white;
    font-size: 15px;
}

.smallsetitem:hover {
    cursor:pointer;
    background-color: darkmagenta;
}

.scuttlebuttsetgrid {
    border: none;
    background-color: #42f492;
}

/*.matessets {
    position: absolute;
    top: 200px;
} */

.mates {
   position:absolute; 
   left: 700px; 
   width: 800px; 
   height:400px; 
   display: grid;
   grid-template-columns: 500px;
   grid-auto-rows: repeat(8,200px);
   row-gap: 10px;
   /* background-color: #42f492; 
   border: 1px solid black; */  
}

.mateavatar {
    /*position: absolute;  */
    height: 150px; 
    width: 150px;
}

.mateinfotable{
    position:relative; 
    left: 20px; 
    top:5px;
}

.mate {
    background-color: #42f492;
    display:none;
}

.clickablematename:hover {
    cursor: crosshair;
    
}

